<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.seaduckene.board.mapper.IBoardMapper">
	
	<sql id="boardThumbnail">
		<if test="boardThumbnailFileRealName == null">
			board_thumbnail_path = '/ejsage3217/imgduck/board/', board_thumbnail_file_name = 'BoardThumbnail.png'
			, board_thumbnail_file_real_name = 'BoardThumbnail.png'
		</if>
		<if test="boardThumbnailFileRealName != null">
			board_thumbnail_path = #{boardThumbnailPath}, board_thumbnail_file_name = #{boardThumbnailFileName}
			, board_thumbnail_file_real_name = #{boardThumbnailFileRealName}
		</if>
	</sql>
	
	
	<select id="list" resultType="boardList">
		<![CDATA[
		SELECT *
		FROM
		    (
				SELECT (@ROWNUM := @ROWNUM + 1) rn, tbl.* 
				FROM
					(
						SELECT d.*, c.*, u.user_nickname AS writer
						FROM board d LEFT JOIN category c ON d.board_category_no = c.category_no
							     	 LEFT JOIN duck_user u ON d.board_user_no = u.user_no
						WHERE d.board_category_no = #{categoryNo}
					) tbl,
					(SELECT @ROWNUM := 0) R
				ORDER BY tbl.board_reg_date DESC
		    ) tbl2
		WHERE rn > (#{paging.pageNum}-1) * #{paging.cpp}
		AND rn <=(#{paging.pageNum}) * #{paging.cpp}
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM board
		WHERE board_category_no = #{categoryNo}
	</select>
	
	<select id="getMyBoardTotal" resultType="int">
		SELECT COUNT(*) FROM board
		WHERE board_user_no = #{userNo} 
	</select>
	
	<select id="getNoticeTotal" resultType="int">
		SELECT COUNT(*) FROM notice
	</select>
	
	<select id="getCategory" resultType="category">
		SELECT * FROM category
		WHERE category_no = #{categoryNo}
	</select>
	
	<select id="proList" resultType="prodcut">
		<![CDATA[
		SELECT *
		FROM
		    (
			    SELECT (@ROWNUM := @ROWNUM + 1) rn, tbl.* FROM
					(
						SELECT * FROM product
						WHERE product_category_no = #{categoryNo}
					) tbl,
				(SELECT @ROWNUM := 0) R
				ORDER BY tbl.product_reg_date DESC
		    ) tbl2
		WHERE rn > 0 AND rn <= 3
		]]>
	</select>
	
	<!-- 글 등록 -->
	<insert id="write">
		INSERT INTO board (board_title, board_content , board_user_no, board_category_no)
		VALUES(#{boardTitle}, #{boardContent}, #{boardUserNo}, #{boardCategoryNo})
	</insert>
	
	<!-- 글 상세 보기 -->
	<select id="getBoardDetailVo" resultType="board">
		SELECT * FROM board
		WHERE board_no = #{boardNo}
	</select> 
	
	<!-- 수정 -->
	<update id="update">
		UPDATE board
		SET board_title = #{boardTitle}, board_content = #{boardContent}, 
		<include refid="boardThumbnail"/>
		WHERE board_no = #{boardNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>
	
	<select id="bUserList" resultType="boardUser">
		<![CDATA[
		SELECT * FROM
			(
				SELECT (@ROWNUM := @ROWNUM + 1) rn, tbl.* FROM
					(
						SELECT DISTINCT b.board_no, b.board_title, b.board_views, b.board_reg_date, c.category_no
							, c.category_major_title, c.category_minor_title, d.user_nickname
							, d.user_no, f.favorite_category_no, f.favorite_user_no
						FROM board b LEFT JOIN duck_user d ON b.board_user_no= d.user_no
							     	 LEFT JOIN category c ON b.board_category_no = c.category_no
							     	 LEFT JOIN favorite f ON c.category_no = f.favorite_category_no
						WHERE f.favorite_user_no = #{userNo}
					) tbl,
					(SELECT @ROWNUM := 0) R
				ORDER BY tbl.board_views DESC, tbl.board_reg_date DESC
			) tbl2
		WHERE rn > 0 AND rn <= 9
		]]>
	</select>
	
	<select id="bUserNoList" resultType="boardUser">
		<![CDATA[
		SELECT * FROM
		    (
			    SELECT (@ROWNUM := @ROWNUM + 1) rn, tbl.* FROM
					(
					    SELECT b.board_no, b.board_title, b.board_views, b.board_reg_date, c.category_major_title, c.category_minor_title, d.user_nickname
					    FROM board b LEFT JOIN category c ON b.board_category_no = c.category_no
							 		 LEFT JOIN duck_user d ON b.board_user_no = d.user_no
					) tbl,
					(SELECT @ROWNUM := 0) R
				ORDER BY tbl.board_views DESC, tbl.board_reg_date DESC
		    ) tbl2
		WHERE rn > 0 AND rn <= 9
		]]>
	</select>
	
	<select id="noticeList" resultType="notice">
		<![CDATA[
		SELECT * FROM
		    (
			    SELECT (@ROWNUM := @ROWNUM + 1) rn, tbl.* FROM
					(
					    SELECT *
					    FROM notice
					) tbl,
					(SELECT @ROWNUM := 0) R
				ORDER BY tbl.notice_no DESC
		    ) tbl2
		WHERE rn > 0 AND rn <= 5
		]]>
	</select>
	
	<select id="noticeLists" resultType="notice">
		<![CDATA[
		SELECT *
		FROM
		    (
			    SELECT (@ROWNUM := @ROWNUM + 1) rn, tbl.* FROM
					(
					    SELECT *
					    FROM notice
					) tbl,
					(SELECT @ROWNUM := 0) R
				ORDER BY tbl.notice_no DESC
		    ) tbl2
		WHERE rn > (#{pageNum}-1) * #{cpp}
		AND rn <= (#{pageNum}) * #{cpp}
		]]>
	</select>
	
	<!-- boardNo 찾기 -->
	<select id="boardNoSearch" resultType="int">
		SELECT tbl2.board_no FROM
			(
			SELECT (@ROWNUM := @ROWNUM + 1) rn, tbl.* FROM 
				(
					SELECT board_no FROM board
					WHERE board_user_no = #{boardUserNo}
				) tbl,
				(SELECT @ROWNUM := 0) R
				ORDER BY tbl.board_reg_date DESC
			) tbl2
		WHERE rn = 1 
	</select>
	
	<insert id="boardImageAdd">
		INSERT INTO boardImage (board_image_uuid, board_board_no)
		VALUES(#{UUID}, #{boardNo})
	</insert>
	
	<update id="addViewCount">
		UPDATE board SET board_views = board_views + 1
		WHERE board_no = #{boardNo}
	</update>
	
	<select id="getMyList" resultType="board">
		<![CDATA[
		SELECT *
		FROM
		    (
			    SELECT (@ROWNUM := @ROWNUM + 1) rn, tbl.*
			    FROM (
					    SELECT *
					    FROM board
					    WHERE board_user_no = #{userNo}
					) tbl,
					(SELECT @ROWNUM := 0) R
				ORDER BY tbl.board_reg_date DESC
		    ) tbl2
		WHERE rn > ((#{paging.pageNum}-1) * #{paging.cpp})
		AND rn <= ((#{paging.pageNum}) * #{paging.cpp})
		]]>
	</select>

</mapper>


